.questionBox .userInfo.fullname, .questionBox .ask {
    margin-top: -4%;
}
.questionBox .ui.right.floated.ask{
    margin-right: 1%;
}
.questionBox .userInfo {
    margin-left: 5%;
}
.questionBox .icon {
    margin-top: 2%;
    padding-left: 1%;
}

.sideBox .userInfo.fullname {
    padding-top: 2%;
    margin-top: -7%
}
.sideBox .icon {
    padding-left: 1.5%;
    padding-top: 3.5%;
}
.sideBox .userInfo {
    margin-left: 10%
}
.sideBox .follow, .sideBox .ask{
    margin-top: -10%;
}
.sideBox .right.section .button.ask {
    margin-right: 2%;
}
.Home.card {
    min-width: 100%;
}
.Home .ui.card.QuestionItem {
    margin-top: -3%;
}
